{% extends 'mainpg/base.html' %}
{% load static %}
{% block 2 %}
<div class="inner">
    {% if pic %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    <a href="#" class="image avatar"><img src={{ pic }} alt="No student logged in" /></a>
    {% else %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    {% endif %}
	<h1><strong>Birla Institute Of Technology And Science</strong><br /></h1>
	<h2><br>BITS Community Page <br>
	<br>By:
	<i><b>mohitdmak</b></i></h2>
	</div>
{% endblock 2 %}


{% block 1 %}
<!-- One -->
<div id = "main">
<section id="one">
	<header class="major">
		<h2><b>A L L    &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; A N S W E R S</b></h2>
	</header>
</section>
<hr style="border: 2px;border-style: inset;border-color: black;">
<hr style="border: 1px;border-style: dashed;border-color: grey;">
{% for anss in ans %}
	<section>
		<blockquote>
            <h3 style = "font-family: 'Courier New', Courier, monospace;">{{ anss.ans }}</h3>
        </blockquote>
        <h4><b>A n s w e r e d   B y :</b></h4>
		{% for usr in anss.author.socialaccount_set.all %}
		<h5><i>	<p><a href = "{% url 'seeprofile' anss.author.id %}">{{ usr.profile.Name }}</a> &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;  {{ anss.time }}</p>
		{% endfor %}
		</i></h5>


		</section>

{% endfor %}

</div>

<footer id="footer">
	<div class="inner">
		{% if user.is_authenticated %}
		<h1 style="font-family: 'Courier New', Courier, monospace;"><b>L O G O U T :</b>
		<a href="{% url 'account_logout' %}" class="icon solid fa-envelope"><span class="label">Email</span></a></h1>

		{% else %}
		<h1 style="font-family: 'Courier New', Courier, monospace;font-weight: 100;"><b>L O G I N :</b>

		<a href="{% url "account_login" %}" class="icon solid fa-envelope icons"><span class="label">Email</span></a></h1>

		{% endif %}
			<ul class="copyright">
			<li>&copy; C S A</li>
		</ul>
	</div>
</footer>
{% endblock 1 %}
