{% extends "mainpg/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block 2 %}
    {% if pic %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    <a href="#" class="image avatar"><img src={{ pic }} alt="No student logged in" /></a>
    {% else %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    {% endif %}
{% endblock 2 %}

{% block 1 %}
    <div id = "main">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Answer</legend>
                {{ Form|crispy }}


            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Publish</button>

            </div>
        </form>
    </div>

{% endblock 1 %}