{% extends 'mainpg/base.html' %}
{% load static %}
{% block 1 %}
<div id = "main">
    <section id="two">
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><u>P R O F I L E &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;    P A G E  :</u></h1>
    <br>
    {% for users in flist %}
	<section>
		<header>
            
            {% if users.usrtf.profile.dp == 'default.png' %}
            <a href="#" class="image avatar"><img src={{ users.usrtf.profile.originaldp }} alt = {{ users.usrtf.profile.originaldp }} /></a>
            {% else %}
            <a href="#" class="image avatar"><img src={{ users.usrtf.profile.dp.url }} alt = {{ users.usrtf.profile.originaldp }} /></a>
            {% endif %}
            &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; 
            <a class="btn btn-outline-danger" href="{% url 'UNFOLLOW' users.usrtf.user.id %}">Unfollow</a>
			<h2 style = "font-family: 'Courier New', Courier, monospace;"><i><b><a href = "{% url 'seeprofile' users.usrtf.user.id %}">{{ users.usrtf.profile.Name }}</a></b></i></h2>
			
        
		</header>
		<blockquote>
		<p>{{ users.usrtf.profile.Bio }}</p>
		</blockquote>
        
        </section>
        <hr>
    {% endfor %}
    </section>
    </div>
    {% endblock 1 %}