{% extends 'mainpg/base.html' %}
{% load static %}
{% block 2 %}
<div class="inner">
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
   
	<h1><strong>Birla Institute Of Technology And Science</strong><br /></h1>
	<h2><br>BITS Community Page <br>
	<br>By:
	<i><b>mohitdmak</b></i></h2>
	</div>
{% endblock 2 %}

{% block 1 %}
<div id = "main">
    <section id="two">
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><u>P R O F I L E &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;    P A G E  :</u></h1>
    <br>
    {% for users in flist %}


            {% if users.usrtf.profile.dp == 'default.png' %}
            <a href="#" class="image avatar"><img src={{ users.usrtf.profile.originaldp }} alt = {{ users.usrtf.profile.originaldp }} /></a>
            {% else %}
            <a href="#" class="image avatar"><img src={{ users.usrtf.profile.dp.url }} alt = 'No dp' /></a>
            {% endif %}
            <a class="btn btn-outline-danger" href="{% url 'UNFOLLOW' users.usrtf.user.id %}">Unfollow</a>
			<h2 style = "font-family: 'Courier New', Courier, monospace;"><i><b><a href = "{% url 'seeprofile' users.usrtf.user.id %}">{{ users.usrtf.profile.Name }}</a></b></i></h2>
    <section>

		<blockquote>
		<p>{{ users.usrtf.profile.Bio }}</p>
		</blockquote>

        </section>
        <hr>
    {% endfor %}
    </section>
    </div>
<footer id="footer">
	<div class="inner">
		<h1 style="font-family: 'Courier New', Courier, monospace;"><b>L O G O U T :</b>
            <a href="{% url 'account_logout' %}" class="icon solid fa-envelope icons"><span class="label">Email</span></a></h1>
			<ul class="copyright">
			<li>&copy; C S A</li>
		</ul>
	</div>
</footer>
    {% endblock 1 %}