{% extends 'mainpg/base.html' %}
{% load static %}
{% block 2 %}
    {% if pic %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    <a href="#" class="image avatar"><img src={{ pic }} alt="No student logged in" /></a>
    {% else %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    {% endif %}
{% endblock 2 %}
{% block 1 %}
<!-- One -->
<div id = "main">
<section id="one">
	<header class="major">
		<h2><b>Have a question for the community ?</b></h2>
	</header>
	<ul class="actions">
		<li><a href="{% url 'askQ' %}" class="button">A s k</a></li>
	</ul>
</section>
<hr style="border: 2px;border-style: inset;border-color: black;">
<h1>R E C E N T    &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;    Q U E S T I O N S</h1>
<hr style="border: 1px;border-style: dashed;border-color: grey;">
<br><br>
{% for question in questions %}

		<header>
			<h2 style = "font-family: 'Courier New', Courier, monospace;"><i><b>Q :</b></i>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;{{ question.subject }}</h2>

			{% for user in question.author.socialaccount_set.all %}
			<p><h5><b>By :</b>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;<i><b><a href = "{% url 'seeprofile' question.author.id %}"> {{ user.profile.Name }}</a> </b></i>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; <b>At :</b>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;{{ question.time }}</h5></p>
			{% endfor %}
		</header>
		<blockquote>
		<p>{{ question.desc }}</p>
		</blockquote>

		<ul class = "actions small">
			<li><a href = "{% url 'like' question.id %}" class = "button primary small"> Upvote &MediumSpace;&MediumSpace; {{ question.likes }}</a></li>
			<li><a href = "{% url 'dislike' question.id %}" class = "button small"> Downvote &MediumSpace;-&MediumSpace;{{ question.dislikes }}</a></li>
			<li><a href = "{% url 'viewans' question.id %}" class = "button small"><i>View Answers &MediumSpace;&MediumSpace;[ {{ question.allans.count }} ]</i></a></li>
			<li><a href = "{% url 'answer' question.id %}" class = "button primary small"><i>Answer &MediumSpace;&MediumSpace; </i></a></li>
		</ul>
		</section>
		<hr>
{% endfor %}
<br>
<br>
<h4 style="font-family: 'Courier New', Courier, monospace;"><i>Source&MediumSpace;&MediumSpace;Code :</i>
<a href="https://github.com/mohitdmak/SUTT" class="icon brands fa-github"><span class="label">Github</span></a>
</div>


{% endblock 1 %}
