{% extends 'mainpg/base.html' %}
{% load static %}
{% block 2 %}
<div class="inner">
    {% if pic %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    <a href="#" class="image avatar"><img src={{ pic }} alt="No student logged in" /></a>
    {% else %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    {% endif %}
	<h1><strong>Birla Institute Of Technology And Science</strong><br /></h1>
	<h2><br>BITS Community Page <br>
	<br>By:
	<i><b>mohitdmak</b></i></h2>
	</div>
{% endblock 2 %}
{% block 1 %}
<!-- One -->
<div id = "main">
<section id="one">
	<header class="major">
		<h2><b>Have a question for the community ?</b></h2>
	</header>
	<ul class="actions">
		<li><a href="{% url 'askQ' %}" class="button">A s k</a></li>
	</ul>
</section>
<hr style="border: 2px;border-style: inset;border-color: black;">
<h1>R E C E N T    &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;    Q U E S T I O N S</h1>
<hr style="border: 1px;border-style: dashed;border-color: grey;">
{% for question in questions %}
	<section>
		<header>
			<h2 style = "font-family: 'Courier New', Courier, monospace;"><i><b>Q :</b></i>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;{{ question.subject }}</h2>
			<br>
			<p><b>By :</b>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;{{ question.author }} &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace; <b>At :</b>&MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;{{ question.time }}</p>
		</header>
		<blockquote>
		<p>{{ question.desc }}</p>
		</blockquote>

		<ul class = "actions small">
			<li><a href = "{% url 'like' question.id %}" class = "button primary small"> Upvote &MediumSpace;&MediumSpace; {{ question.likes }}</a></li>
			<li><a href = "{% url 'dislike' question.id %}" class = "button small"> Downvote &MediumSpace;-&MediumSpace;{{ question.dislikes }}</a></li>
			<li><a href = "{% url 'viewans' question.id %}" class = "button small"><i>View Answers &MediumSpace;&MediumSpace;</i></a></li>
			<li><a href = "{% url 'answer' question.id %}" class = "button primary small"><i>Answer &MediumSpace;&MediumSpace; {{ question.allans.count }}</i></a></li>
		</ul>
		</section>

{% endfor %}

</div>

<footer id="footer">
	<div class="inner">
		{% if user.is_authenticated %}
		<h1 style="font-family: 'Courier New', Courier, monospace;"><b>L O G O U T</b></h1>
		<ul class="icons">
			<li><a href="{% url 'account_logout' %}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>
		<h1 style="font-family: 'Courier New', Courier, monospace;"><i>Source&MediumSpace;&MediumSpace;Code</i></h1>
		<ul>
			<li><a href="https://github.com/mohitdmak/SUTT" class="icon brands fa-github"><span class="label">Github</span></a></li>
			</ul>
		{% else %}
		<h1 style="font-family: 'Courier New', Courier, monospace;font-weight: 100;"><b>L O G I N</b></h1>

		<ul class="icons">
			<li><a href="{% url "account_login" %}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>

		</ul>
		<h1 style="font-family: 'Courier New', Courier, monospace;"><i>Source&MediumSpace;&MediumSpace;Code</i></h1>
		<ul>
			<li><a href="https://github.com/mohitdmak/SUTT" class="icon brands fa-github"><span class="label">Github</span></a></li>
			</ul>
		{% endif %}
			<ul class="copyright">
			<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</footer>
{% endblock 1 %}
