{% extends 'mainpg/base.html' %}
{% load static %}
{% block 2 %}
<div class="inner">
    {% if pic %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    <a href="#" class="image avatar"><img src={{ pic }} alt="No student logged in" /></a>
    {% else %}
    <a href="https://www.bits-pilani.ac.in/" class="image avatar"><img src="{% static 'mainpg/images/bit.png' %}" alt="No student logged in" /></a>
    {% endif %}
	<h1><strong>Birla Institute Of Technology And Science</strong><br /></h1>
	<h2><br>BITS Community Page <br>
	<br>By:
	<i><b>mohitdmak</b></i></h2>
	</div>
{% endblock 2 %}

{% block 1 %}
<div id = "main">
    <section id="two">
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><u>P R O F I L E &MediumSpace;&MediumSpace;&MediumSpace;&MediumSpace;    P A G E  :</u></h1>
    <br>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href= {{ picc }} class="image fit thumb"><img src={{ picc }} alt="" /></a>
        </article>
        <article>
            <h3 style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><i>Let Us Connect !</i></h3>
            <br>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <h3><a class = "btn btn-outline-info" href = "#">login to F O L L O W</a></h3>
            <br>



            <ul class="copyright">
                &copy; Verified User
            </ul>
        </article>
        </div>
    <header class="major">
		<h3 style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><i>Name :</i></h3><h2 style="font-family: 'Courier New', Courier, monospace;"><b><a href = "{% url 'seeprofile' profile.usr.user.id %}">{{ profile.Name }}</a></b></h2>
	</header>
    <br>
    <header>
        <h3 style = "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><i>Contact Email :</i></h3><h2 style="font-family: 'Courier New', Courier, monospace;"><b>{{ profile.Contact_Email }}</b></h2>
        <br>
    </header>
    <blockquote>
        <h3 style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><i>BIO :</i></h3>
    <p style="font-family: 'Courier New', Courier, monospace; font-size:x-large;">{{ profile.Bio }}</p>
    </blockquote>
    </section>
</div>
<footer id="footer">
	<div class="inner">
		{% if user.is_authenticated %}
		<h1 style="font-family: 'Courier New', Courier, monospace;"><b>L O G O U T :</b>
		<a href="{% url 'account_logout' %}" class="icon solid fa-envelope"><span class="label">Email</span></a></h1>

		{% else %}
		<h1 style="font-family: 'Courier New', Courier, monospace;font-weight: 100;"><b>L O G I N :</b>

		<a href="{% url "account_login" %}" class="icon solid fa-envelope icons"><span class="label">Email</span></a></h1>

		{% endif %}
			<ul class="copyright">
			<li>&copy; C S A</li>
		</ul>
	</div>
</footer>
{% endblock 1 %}